@charset "utf-8";
/* CSS Document */
body {
	font-family: Calibri;
}
#nav1 ul {
	background-color:#EBEBEB;
	width: 97%;
	position: fixed;
	margin-top: -7px;
	text-align: right;
}
#nav1 li {
	border-left: 1px solid rgba(202,202,202,1.00);
	list-style:none;
	display: inline-block;
	padding: 20px;
}
#nav1 li:hover {color: #74AAFF;} 
#nav1 a {
	color: #007191;
	text-decoration: none;
}
#nav1 a:hover { color: #74AAFF;}
body {
		margin: 0 auto;
		max-width: 100%;
		}

	 #nav {
	}
	 #nav ul {
        margin: 0 auto;
	background-color: #EBEBEB;
	width: 97%;
	height: 100%;
	
	top: 0;
	text-align: right;
}
#nav li {
	margin-right: -4px;;
	border-left: 1px solid #C9C9C9;
	list-style:none;
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#nav li:hover {
	background-color: #DFDFDF;
}
#nav a {
	color: #007191;
	text-align: center;
	text-decoration: none;
	font-size: 2.5em;
}
#nav a:hover { 
	color: #74AAFF;
}
#color-tab {
	background-color: #74AAFF;
	background-position: center;
	background-size: cover;
}
#color-tab a {
	color: #FFFFFF;
}
#color-tab a:hover {
	color: #E00DED;
}
    h3 {
        font-family: verdana, sans-serif;
        font-size: 1em;
        font-weight: 200;
        background: #060835;
		opacity: 0.70;
		margin: 0 auto;
        color:#fff;
		width: 100%;
    }
	h3 a {
		margin-left: 10px;
		color: #fff;
	}
    
    blockquote {
		width: 90.5%;
		margin: 0 auto;
		padding: 5em;
        background-color:#F9F9F9;
        border-top:1px solid #3ACFFC;
        border-right:1px solid #3ACFFC;
        border-bottom:1px solid #3ACFFC;
        border-left:1px solid #3ACFFC;
    }
	h5 {
	}
	.container .h2-style {
		color: #4F4F4F;
		size: 22px;
		position: relative;
		left: 3.5em;
	}
	.container p {
		line-height: 1em;
		position: relative;
		left: 15em;
	}
	.container li {
		position: relative;
		left: 1em;
	}
	.container h5 {
		position: relative;
		left: 15em;
	}
	.container em {
		position: relative;
		left: 2em;
	}
	h5 {
		background-color: #74AAFF;
		width: 48em;
	}
    
.eqWrap {
	display: flex;
}
.equalHW {
	flex: 1
}
.equalHMWrap {
	justify-content: space-between;
}
.h2col {
	color:rgba(135,209,251,1.00);
	text-align: center;
}
.h2-style1 {
	font-size:36px;
	text-align: center;
	position: relative;
	top: 45px;
}
.p-style {
	color:#000;
	width: 450px;
}
.p-style1 {
	visibility: visible;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4375em;
	position: relative;
    top: 70px;
}
.style {
	-webkit-column-count:3;
	-mos-column-count:3;
	column-count:3;
	-webkit-column-width: 135px;
	-mos-column-width: 135px;
	column-width: 135px;
	-webkit-column-span: all; 
    column-span: all;
}
.style1 {
	margin: 0;
	background-color: #007191;
	height: 400px;
	width: 100%;
	color: #fff;
	margin-bottom: -40px;
}
.style2 {
	background-color: #7a0d48;
	height: 400px;
	width: 100%;
	color: #fff;
}
#bbgrl {
	float: left;
}
#logo {
	float: left;
	position: relative;
	top: 18px;
}
#aha {
	padding-left: 500px 550px 550px 500px;
	color: rgba(31,17,207,1.00);
	font-weight: 500;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4375em;
	position: relative;
    top: 70px;
}
.clear-float {
	clear:both;
}
footer {
	background-color:rgba(11,3,62,1.00);
	text-align: right;
	color: #FFFFFF;
	font-size: 9px;
	width: 100%;
}